---
- hosts:
    - 127.0.0.1
  become: yes
  vars:
    supervisor_share: "/usr/share/hassio" #Default
    privileged_mode: False #Default
    version: latest #Default
    deb_dist: "{{ lookup('env', 'DIST') | default('buster', true) }}"
    ha_user: ha
    ha_port: 8123
    ha_fbx:
      hostname: "{{ lookup('env', 'HOSTNAME') | default('hafbx', true) }}"
      version: "{{ lookup('env', 'VERSION') | default('master', true) }}"
      path: "{{ lookup('env', 'INIT_PATH') | default('/home/runner/work/ha_fbx/ha_fbx', true) }}"

    packages:
      apt:
        install:
          - apparmor-utils
          - apt-transport-https
          - avahi-daemon
          - avahi-utils
          - ca-certificates
          - curl
          - dbus
          - jq
          - socat
          - software-properties-common
          - python3-pip
          - python3-setuptools
          - virtualenv

  tasks:
    - name: change hostname
      hostname:
        name: "{{ha_fbx.hostname}}"
      when: lookup('file', '/etc/hostname') == "debian"
      register: hostname

    - name: add hostname to /etc/hosts
      lineinfile:
        dest: /etc/hosts
        regexp: '^127\.0\.1\.1[ \t]+debian'
        line: "127.0.1.1\t{{ha_fbx.hostname}}"
        state: present
      when: hostname.changed

    - name: update apt package cache
      apt:
        update_cache: yes

    - name: install packages
      apt:
        name: "{{ packages.apt.install }}"
        state: present

    - name: remove useless packages from the cache
      apt:
        autoclean: yes

    - name: clean apt cache
      command: apt-get clean
      become: yes

    - name: Add Docker GPG apt Key
      apt_key:
        url: https://download.docker.com/linux/debian/gpg
        state: present

    - name: Add Docker Repository
      apt_repository:
        repo: deb https://download.docker.com/linux/debian {{ deb_dist }} stable
        state: present

    - name: Update apt and install docker-ce
      apt: update_cache=yes name=docker-ce state=latest

    - name: Install Docker Module for Python
      pip:
        name: docker

    - name: Install Home assistant
      docker_container:
        name: hassio_supervisor
        image: "homeassistant/aarch64-hassio-supervisor:{{ version }}"
        state: started
        privileged: "{{ privileged_mode }}"
        restart: no
        restart_policy: unless-stopped
        env:
          SUPERVISOR_SHARE: "{{ supervisor_share }}"
          SUPERVISOR_NAME: hassio_supervisor
          HOMEASSISTANT_REPOSITORY: homeassistant/aarch64-homeassistant
        volumes:
          - /etc/localtime:/etc/localtime:ro
          - /var/run/docker.sock:/var/run/docker.sock
          - /var/run/dbus:/var/run/dbus
          - "{{ supervisor_share }}:/data"
        comparisons:
          image: ignore
          env: strict
          volumes: allow_more_present
        security_opts:
          - seccomp:unconfined
          - apparmor:unconfined

    #- name: create user
    #  user: name={{ ha_user }} comment="Home Assistant" createhome=no system=yes shell="/sbin/nologin"

    #- name: create directory
    #  file: path={{ ha_conf_dir }} state=directory mode=02775 owner={{ ha_user }} group={{ ha_user }}

    - name: Install init script
      file:
        src: "{{ha_fbx.path}}/init.sh"
        dest: "/var/lib/cloud/scripts/per-once"
        mode: u+rwx

    - name: clean apt cache
      apt:
        autoclean: yes

    - name: remove dependencies that are no longer required
      apt:
        autoremove: yes

  handlers:
    - name: reload systemd services
      systemd:
        daemon_reload: yes
